.disconnected {
    background-color: red;
    color: white;
    font-size: 1rem;
    text-align: center;
    height: 24px;
    border-bottom: 1px solid lightsalmon;
    width: 100%;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 100%;
    max-width: 1000px;
    align-self: center;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.registration_form {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.dealerboard {
    min-height: 275px;
    width: 100%;
    border: 2px solid lightgreen;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
}

.board-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.gamecontrol {
    display: flex;
    justify-content: center;
}

.roundcontrol {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
    max-width: 800px;
}

.roundcontrol__img {
    border: 3px solid rgb(255, 225, 0);
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    max-width: 75px;
    max-height: 75px;
}

.roundcontrol__img--disabled {
    border: none;
    cursor: default;
}

.bet {
    display: flex;
    justify-content: space-around;
}

.bet__info {
    margin: auto 10px;
    white-space: nowrap;
}

.bet__form {
    display: flex;
}

.hit-stand-section {
    display: flex;
    justify-content: space-evenly;
}

.command {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
}

.playersboard {
    border: 2px solid lightgreen;
    border-radius: 15px;
    min-height: 275px;
    width: 100%;
    margin: 10px;
    padding: 10px;
}

.players {
    display: flex;
    flex-direction: column;
}

.playerslist {
    display: flex;
    gap: 30px;
    overflow: auto;
}

.participant {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.participant__info {
    font-size: 1.2rem;
}

.participant__info--active {
    font-weight: bold;
    color:turquoise;
    text-decoration: underline;
}

.cards {
    display: flex;
    gap: 10px;
}

.card {
    width: 75px;
}

.deck {
    width: 85px;
}

.outcome {
    height: 20px;
    font-size: larger;
    font-weight: bold;
}

.outcome--win {
    color: lawngreen;
}

.outcome--defeat {
    color: red;
}

.outcome--tie {
    color: rgb(99, 182, 230);
}